 <section id="cover">
    <div id="cover-caption">
      <div class="container">
        <div class="col col-sm-offset-1">


          <div class="text-center">
            <form class="form-signin" id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLoginUser()">
              <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

              <label for="inputEmail" class="sr-only">Email address</label>
              <input formControlName="email"
                     type="email"
                     id="inputEmail"
                     class="form-control"
                     placeholder="Email address"
                     required
                     autofocus
              >
              <br>

              <label for="inputPassword" class="sr-only">Password</label>
              <input formControlName="password"
                     type="password"
                     id="inputPassword"
                     class="form-control"
                     placeholder="Password"
                     required
              >
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>


        </div>
      </div>
    </div>
  </section>

