.gallery {
  /*background-color: #3b872a;*/
  /*min-height: calc(100%);*/
}

.pictures {
  position: relative;
  height: 100%;
}

.picture {
  width: calc(100%);
  position: absolute;
  left: 0;
  top: 0;
}
