<div class="gallery">
  <div class="pictures">

    <!-- этот див очень важен, по нему выставляется слайдер!!! -->
    <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0; position: relative">
      <img src="{{sliderPictures[0].src}}" style="width: 100%;">
    </div>

    <img
      *ngFor="let slider of sliderPictures; let i = index"
      class="picture"
      [@sliderTrigger]="markedIndex == i ? slider.pictureAnimation : 'hidden'"
      src="{{slider.src}}" alt="">
    <div class="menu"></div>
  </div>


<app-modal></app-modal>


</div>
