<div class="container-fluid">

  <div class="card-deck">

    <!--<button type="button" (click)="onOpenForm()">Open/Close Render Form</button>-->


    <div class="card text-white bg-dark">
      <div class="card-body">

        <h5 class="card-title">Render picture:</h5>
        <div class="card-text">
          <form [formGroup]="pictureForm" (ngSubmit)="returnBase64()">
            <div class="form-group">
              <label for="picture">Select File</label>
              <input (change)="detectFiles($event)"
                     formControlName="picture"
                     type="file"
                     id="picture"
                     name="picture">
              <small id="pictureHelp" class="form-text text-muted">Picture will be displayed in console log</small>
            </div>
            <button class="btn btn-warning" [disabled]="!formValid" type="submit">Picture to base64</button>
          </form>
        </div>
        <div class="card-footer"  *ngIf="pictureBase64">
          <div>Picture is Ready! Check Developer Console!</div>
        </div>

      </div>

    </div>

  </div>

  <div class="card-deck">

    <div class="card text-white bg-dark" *ngFor="let slider of loadedData | keys ">
      <div class="card-body">

        <h5 class="card-title">Slider {{ slider }} </h5>
        <div class="card-text">
          <p>
            <button class="btn btn-outline-danger" (click)="onDeleteSlier(slider)">Delete</button>
          </p>
        </div>
      </div>
    </div>



    <div class="card text-white bg-dark">
      <div class="card-body">

        <h5 class="card-title">Add new slider</h5>
        <div class="card-text">
          <button class="btn btn-outline-success" (click)="onAddNewSlider()">CREATE</button>
        </div>
      </div>
    </div>

  </div>


  <div>


  </div>




</div>
