<ul>
  <h3 class="yearHeader"
      (click)="onYear()"
  > {{ yearStr }} <i [ngClass]="{'fa-caret-left': hidden, 'fa-caret-down': !hidden }" class="fa "></i>
    <a [routerLink]="['/events/', yearStr | lowercase ]" (click)="openCloseModal()"
       class="menu-item orange"><i class="fa fa-external-link-alt"></i> </a>
  </h3>


    <li class="wrapper" [ngClass]="{hidden: hidden}" *ngFor="let monthItem of yearArr | keys ">

    <h4 class="monthHeader" [ngClass]="{hidden: hidden}"
        (click)="onMonth(monthItem)"
    >{{ monthItem | month }} <i
      [ngClass]="{
      'fa-caret-left': hiddenEvents != monthItem,
      'fa-caret-down': hiddenEvents == monthItem
      }" class="fa "></i>
      <a [routerLink]="[
    '/events/',
    yearStr,
    monthItem | month | lowercase
     ]" (click)="openCloseModal()"><i class="fa fa-external-link-alt"></i> </a>
    </h4>

      <div class="wrapper" [ngClass]="{hidden: hiddenEvents != monthItem}">
            <app-multi-items-months
              [monthStr]="monthItem"
              [yearStr]="yearStr"
              [monthArr]="yearArr[monthItem]"
              [events]="events"
            ></app-multi-items-months>
      </div>


  </li>





</ul>
