.yearHeader {
  background-color: #70CC72;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.monthHeader {
  padding: 10px;
  text-align: center;
  margin: 4px;
  background-color: #669AE1;
}

my-link {
  margin-left: 30px;
}

.yearHeader > a {
  float: right;
  transition: all 0.7s;
}

.yearHeader > a:hover {
  color: darkorange;
}

.monthHeader > a {
  float: right;
  transition: color 0.7s;
}

.monthHeader > a:hover {
  color: darkorange;
}

.wrapper {
  transition: opacity 1.5s;
}

.hidden {
  display: none;
  font-size: 0px;
  width: 0px;
  background-color: transparent;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul > h3 {
  cursor: pointer;
  margin: 0px;
}

li > h4 {
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .monthHeader {
    font-size: medium;
  }
}
