
.card-title {
  /*color: black;*/
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.card-text {
  /*color: #3e3e3e;*/
}

.jumbotron > h1 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-align: center;
}

.card > .card-img-top {
}

.menu-holder {
  position: fixed;
  z-index: 3;
  right: 10rem;
  top: 20rem;
}

.fixed-button {
  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
}

.arrow-down {
  transition: all 0.3s;
}

.arrow-down:hover {
  background-color: #669AE1;
}

.animate-menu-item {
  position: relative;
  z-index: 1;
  transition: all 0.5s;

  transform-origin: 50% 0;
  /*animation: roll 1.5s ease-in-out forwards infinite;*/
}


.portfolio-animate {
  left: 2rem;
  top: 1rem;
}


.contact-animate {
  left: 14rem;
  top: 1rem;
}


.my-news-card {
  padding: 1rem 0px;
}

.card {
  -webkit-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
}

@keyframes roll {
  0% {
    transform: rotate(10deg);
  }
  25% {

  }
  50% {

    transform: rotate(-5deg);
  }
  75% {

  }
  100% {

    transform: rotate(10deg);
  }

}

@keyframes contact-roll {
  0% {
  }
  25% {
  }
  50% {

  }
  75% {

  }
  100% {

  }
}


