
.card-title {
  /*color: black;*/
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.card-text {
  /*color: #3e3e3e;*/
}

.jumbotron > h1 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-align: center;
}

.card > .card-img-top {
}

.menu-holder {
  position: fixed;
  z-index: 1;
  /*float: left;*/
  /*margin-left: 100px;*/
  /*left: 6rem;*/
  /*top: 12rem;*/
  right: 12rem;
  bottom: 10rem;
}

.fixed-button {
  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
}

.arrow-down {
  transition: all 0.3s;
}

.arrow-down:hover {
  background-color: #669AE1;
}

.animate-menu-item {
  /*position: relative;*/
  z-index: 1;
  transition: all 0.5s;

  transform-origin: 50% 0;
  animation: roll 1.5s ease-in-out forwards infinite;
}


.portfolio-animate {
  left: 2rem;
  top: 1rem;
}


.contact-animate {
  left: 14rem;
  top: 1rem;
}




@keyframes roll {
  0% {
    transform: rotate(10deg);
  }
  25% {

  }
  50% {

    transform: rotate(-5deg);
  }
  75% {

  }
  100% {

    transform: rotate(10deg);
  }

}

@keyframes contact-roll {
  0% {
  }
  25% {
  }
  50% {

  }
  75% {

  }
  100% {

  }
}


