<!-- The Modal -->
<div id="myModal"
     class="hidden"
     [ngClass]="{modal : modalOpen}"

     (click)="openCloseModal()"
>
  <!-- Modal content -->
  <div [ngClass]="{'modal-small': modalChoice == 'social'}"  class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="openCloseModal()">&times;</span>

    <ul *ngIf="modalChoice == 'social'">
      <h4 class="headerModal">Social Links</h4>
      <div class="social-wrapper">

        <div>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </div>

        <div>
          <a href="#">
            <i class="fab fa-google-plus-square"></i>
          </a>
        </div>

        <div>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>

      </div>


    </ul>


    <!--  EVENTS START  -->
    <ul *ngIf="modalChoice == 'events'">
      <h3 class="headerModal">
        <a [routerLink]="'/events'" (click)="openCloseModal()">Events</a>
      </h3>
      <li *ngFor="let yearItem of menu.events | keys ">
        <app-multi-items-years
        [yearStr]="yearItem"
        [events]="menu.events"
        [yearArr]="menu.events[yearItem]"
        ></app-multi-items-years>
      </li>
    </ul>
    <!--  EVENTS END  -->

  </div>
</div>
<!--<div class="menu" (click)="openCloseModal()"></div>-->


