<ul

  class="under"
  [ngClass]="{'hidden': isHidden}">

  <li
      *ngFor="let yearString of events | keys"
      (mouseenter)="getEventStart(yearString)"
      (mouseleave)="getEventEnd(yearString)"
  >
    <a
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      class="items" [routerLink]="'/events/' + yearString"> {{ yearString }} </a>

    <app-event-month-menu
      [yearStr]="yearString"
      [events]="events"
      [yearArr]="events[yearString]"
      [isHoverOverYear]="hoverOver"
    >
    </app-event-month-menu>

  </li>

  <!--<li>-->
  <!--<a-->
  <!--routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"-->
  <!--class="items"  [routerLink]="'/b'">b</a>-->
  <!--</li>-->

</ul>
