@font-face {
  font-family: GermaniaOne;
  src: url(/assets/fonts/GermaniaOne-Regular.ttf);
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  cursor: pointer;
  display: block;
  display: inline-block;
  padding: 10px;
  background-color: darkolivegreen;
  transition: all 0.2s;
  font-family: GermaniaOne, Helvetica, Arial, sans-serif;
}

li:hover {
  background-color: chocolate;
}

a {
  text-decoration: none;
  color: white;
}

:host {
  font-size: 30px;
  display: block;
  background-color: firebrick;
  position: relative;
}

.active {
  background-color: chocolate;
}



.holder {
  position: relative;
}

.under {
  position: absolute;
  z-index: 1;
  bottom: -65px;
  left: -10px;
  padding: 0px;
  margin: 0px;
  justify-content: flex-start;
  opacity: 1;
  transition: all 0.5s;
}

.hidden {
  display: none;
  /* opacity: 0;*/
}
