<router-outlet></router-outlet>
<div class="wrap">

  <a class=""  *ngFor="let portfolioKey of portfolios | keys" [routerLink]="portfolioKey">
    <div class="imageWrap" [ngClass]="{smallPortfolio: isSmall}">
      <img class="img-fluid img-custom" [src]="portfolios[portfolioKey].cover[0]" alt="" (click)="onPortfolio()">
      <img style="display: none" [src]="portfolios[portfolioKey].large[0]" alt="" >
      <div class="imageDescription" [ngClass]="{smallHeaderFont: isSmall}"  >{{ portfolioKey | uppercase }}</div>
    </div>
  </a>

</div>





