<header>
  <nav>
    <ul>

      <!-- HOME -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/']">Home</a>
      </li>
      <!-- END HOME -->



      <!-- PORTFOLIO -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/portfolio']">Portfolio</a>
      </li>
      <!-- END PORTFOLIO -->

      <!-- EVENTS -->
      <li routerLinkActive="active">
        <a [routerLink]="['/events']">Events</a>
        <ul>
          <!--<li *ngFor="let event of events"><a [routerLink]="[-->
          <!--'/events',-->
          <!--event.year,-->
          <!--event.month,-->
          <!--event.event[0]-->
          <!--]">{{event.event[0]}}</a>-->
          <!--</li>-->
        </ul>
      </li>
      <!-- END EVENTS -->

      <!-- LOGIN -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/evgeniy']">Login</a>
      </li>
      <!-- END LOGIN -->

      <!-- ADMIN -->
      <app-multi-items
        [routerLinkFromHeader]="{link: '/admin', name: 'Admin'}"
        [itemsCollection]="admin">
      </app-multi-items>
      <!-- END ADMIN -->


    </ul>
  </nav>

</header>



