<p>
  header works!
</p>

<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/']">Home</a>
  </li>

  <li routerLinkActive="active">
    <a [routerLink]="['/events']">Events</a>
    <ul>
      <li *ngFor="let event of events"><a [routerLink]="[
                                                          '/events',
                                                          event.year,
                                                          event.month,
                                                          event.event[0]
                                                         ]">{{event.event[0]}}</a>
      </li>
    </ul>
  </li>


</ul>
