/*!*Buttons *!*/
.buttons {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#back, #forv {
  flex-basis: 300px;
}

#back {
 margin-right: -4rem;
}
#forv {
  margin-left: 10rem;
}

/* BIGIMAGE */
.holderB {
  overflow: hidden;
  padding: .5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.bigImageWrap {
  margin: .5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.img {
  position: relative;
  opacity: 0;
  height: 0px;
  width: 0px;
  border-radius: 10px;
  -webkit-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  transition: -webkit-transform 1s,
  -moz-transform 1s,
  -o-transform 1s,
  -ms-transform 1s,
  transform 1s,
  opacity 2.5s;
}

.active {
  position: relative;
  opacity: 1;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 500px;
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 300px) {

}



