

:host {
  font-size: 30px;
  display: block;
  position: relative;
}

ul {
  padding: 10px;
  position: absolute;
  left: 76px;
  top: calc(100% - 45px);
  transition: all 1.2s;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
}

.under {
  z-index: 1;
  padding: 0px;
  margin: 0px;
  justify-content: flex-start;
  opacity: 1;
  transition: all 1.5s;
}

li {
  padding: 10px;
  background-color: darkolivegreen;
}

li:hover {
  background-color: chocolate;
}

.hiddenMonth {
  height: 0;
  opacity: 0;
}

.active {
  background-color: #008ad2;
  /*border: 3px solid firebrick;*/
  /*border-color: firebrick;*/
}

.active:hover {
  background-color: #008ad2;
  /*border: 3px solid firebrick;*/
  /*border-color: firebrick;*/
}

.holder {
  /*position: relative;*/
}

