<li class="holder"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    (mouseleave)="hidden = !hidden"
    (mouseenter)="hidden = !hidden"
    >
  <a
     [routerLink]="[routerLinkFromHeader.link]">{{routerLinkFromHeader.name}}</a>

  <ul
    class="under"
    [ngClass]="{'hidden': hidden}">

    <li *ngFor="let item of itemsCollection.items"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
      <a class="items"  [routerLink]="[itemsCollection.itemsLink, item.id ]">{{item.name}}</a>
    </li>
  </ul>

</li>
