<!-- Trigger/Open The Modal -->
<!-- The Modal -->
<div id="myModal"
     class="hidden"
     [ngClass]="{modal : modalOpen}"

     (click)="openCloseModal()"
>
  <!-- Modal content -->
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="openCloseModal()">&times;</span>

    <a [routerLink]="[menu.home.path]">{{menu.home.name}}</a>
    <br>
    <a [routerLink]="[menu.contact.path]">{{menu.contact.name}}</a>
    <ul>
      <a [routerLink]="[menu.portfolio.path]">{{menu.portfolio.name}}</a>

      <li>
        &nbsp;&nbsp;&nbsp; <a [routerLink]="[menu.portfolio.family.path]">{{menu.portfolio.family.name}}</a><br>
      </li>
    </ul>

    <!--  EVENTS START  -->

    <ul *ngIf="menuIsReady">
      <a [routerLink]="'/events'">Events</a>
      <li *ngFor="let yearItem of menu.events | keys ">
        &nbsp;&nbsp;&nbsp; <a [routerLink]="['/events/', yearItem]">{{yearItem}}</a>
        <ul>
          <li *ngFor="let monthItem of menu.events[yearItem] | keys ">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a
              (mouseleave)="hidden = !hidden"
              (mouseenter)="hidden = !hidden"
              [routerLink]="['/events/', yearItem, monthItem | month | lowercase ]">{{ monthItem | month }}</a>
            <ul
              [ngClass]="{'openEvents' : openEvents}"
            >
              <li *ngFor="let index of menu.events[yearItem][monthItem] | keys ">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                  [routerLink]="[
                                  '/events/',
                                  yearItem,
                                  monthItem | month | lowercase,
                                  menu.events[yearItem][monthItem][index].name
                                 ]">{{ menu.events[yearItem][monthItem][index].name | makePretty }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <!--  EVENTS END  -->

  </div>
</div>
<div class="menu" (click)="openCloseModal()"></div>


