<!-- Trigger/Open The Modal -->
<!-- The Modal -->
<div id="myModal"
     class="hidden"
     [ngClass]="{modal : modalOpen}"

     (click)="openCloseModal()"
>
  <!-- Modal content -->
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="openCloseModal()">&times;</span>

    <a [routerLink]="[menu.home.path]">{{menu.home.name}}</a>
    <br>
    <a [routerLink]="[menu.contact.path]">{{menu.contact.name}}</a>
    <ul>
      <a [routerLink]="[menu.portfolio.path]">{{menu.portfolio.name}}</a>

      <li>
        &nbsp;&nbsp;&nbsp; <a [routerLink]="[menu.portfolio.family.path]">{{menu.portfolio.family.name}}</a><br>
      </li>

    </ul>

    <!--  EVENTS START  -->
    <ul *ngIf="modalOpen">
      <a [routerLink]="'/events'">Events</a>
      <li *ngFor="let yearItem of menu.events | keys ">
        <app-multi-items-years
        [yearStr]="yearItem"
        [events]="menu.events"
        [yearArr]="menu.events[yearItem]"
        ></app-multi-items-years>
      </li>
    </ul>
    <!--  EVENTS END  -->

  </div>
</div>
<div class="menu" (click)="openCloseModal()"></div>


