

/* SMALL GALLERY */
#gallery {
  position: relative;
}
.photos {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.photos img {
  opacity: 0;
  height: 0px;
  width: 0px;
  background-color: #aaaaaa;
  cursor: pointer;
  -webkit-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}

.photos img:hover {
  transform: scale(1.1);
}

.visible {
  flex-basis: auto 150px !important;
  height: 150px !important;
  width: auto !important;
  opacity: 1 !important;
  margin: 5px !important;
}
.buttons {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* BUTTONS */
#back, #forv {
  cursor: pointer;
  height: 80%;
  background-color: #0000009e;
  color: #ffffff;
  transition: all 0.5s;
  z-index: 1;
  border-style: none;
  width: 150px;
  font-size: 25px;
  margin: 20px;
  border-radius: 5px;
}

#back:hover, #forv:hover {
  background-color: #fefefe;
  color: black;
}

/* BIGIMAGE */
.bigImageWrap {
  margin-top: 20px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bigImage {
  max-height: 500px;
  -webkit-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 18px -7px rgba(0, 0, 0, 0.75);
}

