<div *ngIf="check">

  <div class="holderB" [ngStyle]="{height:  !bigImage ? '0px' : ''}">
    <div class="bigImageWrap" >
      <!--FOR PRELOADING -->
      <img style="display: none"
           *ngFor="let large of bigImagesArray"
           src="{{ large }}" alt=""
      >

      <img
        *ngIf="bigImage"
        class="bigImage img-fluid" src="{{ bigImage }}" alt="">

    </div>
  </div>

  <h1 *ngIf="!bigImage" style="text-align: center">
    {{ events.event[0].description }}
  </h1>

  <div class="buttons">
    <input id="back" class="btn btn-outline-primary" type="button" (click)="onBack()" value="<">
    <input id="forv" type="button" class="btn btn-outline-primary" (click)="onForward()" value=">">
  </div>

  <app-header></app-header>


  <div id="gallery">
    <div class="photos"  *ngFor="let small of events.dir.small; let i = index">

      <img
        class="img-fluid"
        [ngClass]="{ visible : (i >= picturesStart ) && ( i <= picturesEnd) }"

        src="{{ small }}" alt=""
        (click)="onShowBigImage(i)"
      >
    </div>

  </div>

</div>


