<div *ngIf="check">

  <div class="holderB">
    <div class="bigImageWrap">

      <!--FOR PRELOADING -->
      <img style="display: none"
           *ngFor="let large of bigImagesArray"
           src="{{ large }}" alt=""
      >

      <img
        *ngIf="bigImage; else description_content"
        class="bigImage" src="{{ bigImage }}" alt="">

      <ng-template #description_content>
        <div style="text-align: center">
          {{ events.event[0].description }}
        </div>
      </ng-template>

    </div>
  </div>



  <div class="buttons">
    <input id="back" type="button" (click)="onBack()" value="<">

    <input id="forv" type="button" (click)="onForward()" value=">">
  </div>

  <app-header></app-header>


  <div id="gallery">
    <div class="photos">

      <img
        [ngClass]="{ visible : (i >= picturesStart ) && ( i <= picturesEnd) }"
        *ngFor="let small of events.dir.small; let i = index"
        src="{{ small }}" alt=""
        (click)="onShowBigImage(i)"
      >
    </div>

  </div>

</div>

