<div *ngIf="check">

  <div class="bigImageWrap">

    <div *ngIf="bigImage; else description_content">

      <img class="bigImage" src="{{ bigImage }}" alt="">

    </div>

    <ng-template #description_content>
      <div style="text-align: center">
        {{ events.event[0].description }}
      </div>
    </ng-template>


  </div>


  <div>
    <input id="back" type="button" (click)="onBack()" value="Назад">
    <input id="forv" type="button" (click)="onForward()" value="Вперед">
  </div>

  <div id="gallery">
    <div class="photos">
      <img
        [ngClass]="{ visible : (i >= picturesStart ) && ( i <= picturesEnd) }"
        *ngFor="let small of events.dir.small; let i = index"
        src="{{ small }}" alt=""
        (click)="onShowBigImage(i)"
      >
    </div>
  </div>

</div>

