/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333333;
  color: #ffffff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  margin: 0px;
  padding: 0px;
}

ul, menu, div, p {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: GermaniaOne;
  src: url(/assets/fonts/GermaniaOne-Regular.ttf);
}

a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

li {
  cursor: pointer;
  font-family: GermaniaOne, Helvetica, Arial, sans-serif;
}


@import "assets/fontawesome/css/fontawesome-all.min.css";
