<div id="cover">
  <div id="cover-caption">

    <div class="row justify-content-around">

      <a href="https://www.facebook.com/ek35mm" target="_blank">
        <button type="button" class="btn btn-outline-primary btn-lg">
          <i class="fab fa-facebook-square"></i>
        </button>
      </a>

      <a href="https://instagram.com/eandk_photography/" target="_blank">
        <button type="button" class="btn btn-outline-success btn-lg">
          <i class="fab fa-instagram"></i>
        </button>
      </a>

      <a href="https://au.pinterest.com/epoznyak/" target="_blank">
        <button type="button" class="btn btn-outline-warning btn-lg">
          <i class="fab fa-pinterest-square"></i>
        </button>
      </a>

      <a href="https://plus.google.com/113667469644278792095/about" target="_blank">
        <button type="button" class="btn btn-outline-danger btn-lg">
          <i class="fab fa-google-plus"></i>
        </button>
      </a>

      <a href="https://twitter.com/eandkphotocom" target="_blank">
        <button type="button" class="btn btn-outline-info btn-lg">
          <i class="fab fa-twitter"></i>
        </button>
      </a>


    </div>

    <div id="menu-holder">
      <app-header></app-header>
    </div>

  </div>
</div>








